*.aux
*.log
*.bbl
*.out
*.blg
*.synctex.gz
*.idx
*.pdfsync
*~
*#*
.DS_Store
auto/
*.orig
*.old
*.top
*.tui
*.synctex*
*.mp
*.pdf
*.fls
*.fdb_latexmk
*.ps
*.dvi
*.rel
_region_.tex
*.fls
*.fbd_latexmk
*.toc